body {
    margin: 0 auto;
    justify-content:center;
    align-items: center;
    font-family: 'Heebo', sans-serif;
   
}

.menu ul  {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 27px ;
    padding: 15px;
    height:70px;
}
.menu li {
    font-family: 'Heebo', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0px;
    text-align: right;
    margin-right: 33px;
}

.info-text {
     display: flex;
    justify-content: space-between;
    
}
.info-text h1 {
    font-family: 'Heebo', sans-serif;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 40px;

}
.info-text p {
    font-family: 'Heebo', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 47px;
}

.contener1 {
    text-align: left;
   
    margin:120px 150px 95px 148px;

}
.contener2 {
    
    margin-right: 130px;
    margin-left: 150px;
    margin-top: 120px;
    margin-bottom: 95px;
}

.btn {
    margin-bottom: 30px;
}

.blog-text {
    background: #EDF7FA;
    border: 1px solid #EDF7FA;
     
}
h3 {
    margin-left: 150px;
    font-family: 'Heebo', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0px;
    text-align: left;
    margin-top:7px;
    margin-bottom:2px;

}

.contener {
    display: flex;
    margin-bottom: 35px;
    padding:10px;
      
}
.contener h2 {
    font-family: 'Heebo', sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 16px;
    padding: 10px 21px 0 23px
   

}
.contener h3 {
    font-family: 'Heebo', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0px;
    text-align:left;
    margin-bottom: 13px;
   
   

}
.contener p {
    font-family: 'Heebo', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0px;
    text-align:left;
    margin-bottom: 13px;
   
}

.blog-text article {
   
    margin-left: 130px;
    margin-top: 10px;;
    width:600px;
    height:200px;
    margin-left: 149px;
    margin-right: 120px;
   
}

.featured  {
   
    
    height: 400px;
}

.featured__text{
    display: flex;  
    width:1300px;
    
}
.featured__text div {   
    display: flex; 
    width:100px;
    height:200px;
    margin-left: 149px;
    align-items:left;
    
   
}

.img__maratona {
    display: flex;
    width:200px;
    height: 2000px;
    margin-right: 2px;
}
.featured__text div ul {   
    
    width:100px;
    height:200px;
    margin-left: 149px;
    justify-content:flex-start;
    
   
}
.featured__text a, p {
    padding: 10px;
    font-family: 'Heebo';
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0px;
text-align: left;
margin: 14px;

}
.featured__text h2 {
    padding: 10px;
    font-family: 'Heebo';
font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: 24px;
letter-spacing: 0px;
text-align: left;
margin: 14px

}


.buttonClass {
    font-size:15px;
    font-family:Arial;
    width:140px;
    height:50px;
    border-width:1px;
    color:#fff;
    border-color:#1f2f47;
    border-top-left-radius:17px;
    border-top-right-radius:17px;
    border-bottom-left-radius:17px;
    border-bottom-right-radius:17px;
    box-shadow:inset 0px 0px 15px 3px #23395e;
    text-shadow:inset 0px 1px 0px #263666;
    background:linear-gradient(#2e466e, #415989);
    margin-left: 10px;
  }
  
  .buttonClass:hover {
    background: linear-gradient(#415989, #2e466e);
  }
                
                

.rede__sociais  {
     display:flex;
     gap: 30px;
    justify-content: center;
    margin-top:209px; 
       
}

.company {
   text-align: center;
   margin-top: 35px;
}



.max-resolution {
    display:none;
    text-align:center;
    width:80vw;
    margin: 0 auto;
    height:100vh;
}

.max-resolution__text {
    font-size: 20px;
}

.max-resolution__text--notebook {
    display:none;
}

.max-resolution__text--tablet {
    display: block;
}

.content {
    display: block;
}



/* tablets */
@media screen and (min-width: 430px) {
    .max-resolution {
        display: flex;
        flex-direction:column;
        justify-content: center;
    }

    .content {
        display: none;
    }
}

/* notbooks */
@media screen and (min-width: 992px) {
    .max-resolution__text--tablet {
        display: none;
       
    }
    .max-resolution__text--notebook {
        display: block;
       
    }

}